*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    height: 100vh;
    background-image: url(images/background.png);
    background-position: center;
    background-size: cover;
}

.container{
    margin-right: 100px;
    margin-left: 100px; 
}

.logo{
    margin-top: 30px;
    width: 100px;
}

.header_text{
    margin-top: 140px;
    max-width: 350px;
}

h1{
    font-size: 34px;
}

.square{
    height: 12px;
    width: 12px;
    display:inline-block;
    background: #f67c92;
    margin: 15px 0px;
}

.common_btn{
    padding: 18px 40px;
    background: transparent;
    outline: none;
    border: 2px solid #f67c92;
    font-weight: bold;
    cursor: pointer;
}

p{
    font-size: 15px;
    line-height: 18px;
    color: #777;
}

.header_text button{
    margin-top: 20px;
    margin-bottom: 60px;
}

.line{
    line-height: 8px;
} 

.line_1{
    width: 15px;
    height: 15px;
    background: #f67c92;
    display: inline-block;
}

.line_2{
    width: 80px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}

.line_3{
    width: 60px;
    height: 1px;
    background: #f67c92;
    display: inline-block;
}

#side_nav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #f67c92;
    z-index: 2;
    transition: .5s;
}

nav ul li{
    list-style-type: none;
    margin: 50px 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

#menu_btn{
    width: 50px;
    position: fixed;
    top: 65px;
    right: 35px;
    z-index: 2;
    cursor: pointer;
}

/*--about us--*/

#about, #offer{
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about_left_col{
    flex-basis: 50%;
}

.about_left_col img{
    width: 100%;
}

.about_right_col{
    flex-basis: 50%;
    text-align: right;
}

.about_text{
    margin-right: 100px;
    max-width: 500px;
    display: inline-block;
}

.about_text h2{
    margin: 50px 0 10px;
    font-size: 28px;
    font-style: italic;
}

.about_text h3{
    font-size: 20px;
    font-style: italic;
    color: #797979
}

/*--features--*/

#features{
    padding: 50px 0;
}

.feature_row{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature_col{
    flex-basis: 25%;
    text-align: center;
}

.feature_col img{
    width: 200px;
}

.feature_col h4{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 400px;
}

.feature_btn{
    margin: 80px auto 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.feature_btn .line{
    text-align: right;
    display: inline-block;
    margin-right: 25px;
}

/*--courses--*/

#courses{
    padding: 100px 0;
}

.course_row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.course_right_col{
    flex-basis: 50%;
}

.course_right_col img{
    width: 100%;
}

.course_left_col{
    flex-basis: 50%;
}

.course_text{
    max-width: 350px;
}

.course_text button{
    margin: 30px 0;
}

/*--Offer--*/

#offer button{
    margin: 30px 0;
}

/*--Contact--*/

.contact_row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contact_left_col, .contact_right_col{
    flex-basis: 50%;
}

.contact_right_col img{
    width: 100%;
}

form{
    max-width: 350px;
    margin: 30px 0;
}

form input{
    width: 100%;
    padding: 12px 10px;
    margin-bottom: 5px;
    outline: none;
    box-shadow: none;
    box-sizing: border-box;
    border: 2px solid #fab3c4;
}

.btn_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn_box button{
    flex-basis: 48%;
    padding: 18px 0;
}

/*--footer--*/

#footer{
    padding: 50px 0 30px;
}

hr{
    width: 100%;
    border: 0;
    border-top: 1px solid #f67c92;
}

.footer_row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_left_col{
    margin-top: 60px;
    flex-basis: 50%;
}

.footer_right_col{
    flex-basis: 35%;
}

.footer_links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.link_title h4{
    color: #fab3c4;
    margin-bottom: 20px;
}

.link_title small{
    font-size: 13px;
    color: #777;
}

.footer_info{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer_logo img{
    width: 100px;
}

.footer_logo button{
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 10px;
}

.copyright_text, .footer_logo{
    flex-basis: 40%;
}

/*Social Icons*/

.social_icons{
    width: 50px;
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
}

.social_icons img{
    display: block;
    width: 20px;
    margin: 0 auto 20px;
    cursor: pointer;
}

@media only screen and (max-width: 770px){
    #header{
        background-image: none;
    }

    .container{
        margin-right: 50px;
        margin-left: 50px; 
    }
    
    .logo{
        margin-top: 27px;
        width: 100px;
    }
    
    .header_text{
        margin-top: 100px;
    }
    
    h1{
        font-size: 25px;
    }

    #menu_btn{
        width: 40px;
        right: 50px;
    }

    .common_btn{
        padding: 15px 16px;
    } 

    .social_icons img{ 
        width: 14px;
        margin: 15px auto; 
    }

    .about_left_col, .about_right_col{
        flex-basis: 100%;
    }

    .about_text{
        margin: 50px 50px 0;
        display: inline-block;
    }
    
    .about_text h2{
        font-size: 18px;
    }

    .feature_col{
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .feature_col img{
        width: 150px;
    }

    .course_left_col{
        flex-basis: 100%;
    }

    .course_right_col{
        flex-basis: 100%;
        margin-top: 70px;
    }

    .contact_left_col, .contact_right_col{
        flex-basis: 100%;
    }

    .contact_right_col{
        margin-top: 50px;
    }

    .footer_left_col, .footer_right_col{
        flex-basis: 100%;
    }

    .link_title{
        flex-basis: 50%;
        margin-bottom: 30px; 
    }
   
}

